table {
  th, td {
    vertical-align: middle;
    text-align: center;
  }

  th:first-child, td:first-child {
    width: 50px;
  }

  .badge {
    font-size: 0.9rem;
    padding: 6px 12px;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
}
